.home
    &-serv
        padding-top: 57px
        padding-bottom: 62px
        &__title
            font-weight: 700
            font-size: 40px
            line-height: 50px
            text-align: center
            color: #000000
            margin-bottom: 48px
        &__wrap
            display: flex
            justify-content: space-between
            align-items: center
        &__block
            width: 315px
            height: 291px
            max-width: 31%
            border-radius: 24px
            overflow: hidden
            text-decoration: none
            position: relative
            &>img
                width: 100%
                height: 100%
                object-fit: cover
                transition: all 0.3s
            span
                position: absolute
                bottom: 16px
                display: block
                width: calc(100% - 28px)
                left: 14px
                padding: 19px
                background: linear-gradient(150.07deg, #9368FE -164.28%, #3C57FF 93.91%)
                border-radius: 16px
                font-weight: 700
                font-size: 20px
                line-height: 26px
                text-align: center
                color: #FFFFFF
            &:hover
                &>img
                    transform: scale(1.1)
    &-markets
        padding-top: 72px
        padding-bottom: 47px
        &__title
            max-width: 600px
            margin: 0 auto
            text-align: center
            font-weight: 700
            font-size: 40px
            line-height: 50px
            color: #131313
            margin-bottom: 20px
            span
                display: inline-block
                margin: 0 auto
                margin-top: 5px
                background: #3C57FF
                border-radius: 12px
                color: #fff
                padding: 10px 10px
                padding-top: 0
                line-height: 38px
        &__descr
            max-width: 575px
            margin: 0 auto
            margin-bottom: 48px
            font-size: 16px
            line-height: 24px
            text-align: center
            color: #131313
        &__wrap
            display: grid
            grid-template-columns: repeat(2, 1fr)
            width: 692px
            grid-gap: 24px
            margin: 0 auto
        &__block
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            font-size: 16px
            line-height: 24px
            text-align: center
            color: #131313
            background: #FFFFFF
            height: 180px
            box-shadow: 0px 6px 20px rgba(143, 103, 244, 0.08), 0px 6px 64px #F0EDF7
            border-radius: 32px
            padding: 0 35px
            span
                font-weight: 700
                font-size: 47.63px
                line-height: 58px
                text-align: center
                color: #3C57FF
                margin-bottom: 8px
    &-quote
        padding-top: 64px
        padding-bottom: 52px
        &__icon
            display: flex
            justify-content: center
            align-items: center
            margin-bottom: 24px
        &__title
            width: 760px
            margin: 0 auto
            margin-bottom: 32px
            font-weight: 600
            font-size: 40px
            line-height: 50px
            text-align: center
            color: #000000
        &__text
            font-size: 16px
            line-height: 24px
            text-align: center
            color: #000000
            width: 628px
            margin: 0 auto
