.container
    width: 1024px
    margin: auto
@media (max-width: 1099px)
    .container
        width: 940px
        margin: auto
@media (max-width: 991px)
    .container
        width: 740px
        margin: auto
@media (max-width: 767px)
    .container
        width: 550px
        margin: auto
@media (max-width: 575px)
    .container
        width: 100%
        padding-left: 15px
        padding-right: 15px
        margin: auto
.footer
    padding-top: 64px
    padding-bottom: 130px
    &__all
        width: calc( 100% - 50px )
        margin: 0 auto
        background: linear-gradient(148.7deg, #9368FE -46.54%, #4F5BFD 95.09%)
        border-radius: 48px
        padding: 48px 0
    &__wrap
        display: flex
        justify-content: space-between
        align-items: flex-start
    &__menu
        margin: 0
        padding: 0
        list-style-type: none
        display: flex
        align-items: flex-start
        grid-gap: 55px
        a
            font-weight: 600
            font-size: 20px
            line-height: 30px
            color: #FFFFFF
            text-decoration: none
            margin-bottom: 14px
            display: block
            &:hover
                opacity: 0.8
        ul
            margin: 0
            padding: 0
            list-style-type: none
            max-width: 150px
            a
                font-weight: 400
                font-size: 16px
                line-height: 24px
                margin-bottom: 12px
    &__subtitle
        font-weight: 600
        font-size: 20px
        line-height: 30px
        color: #FFFFFF
        margin-bottom: 17px
    &__soc
        display: flex
        align-items: center
        grid-gap: 12px
        margin-bottom: 36px
        a
            text-decoration: none
            &:hover
                opacity: 0.8
    &__link
        display: block
        margin-bottom: 5px
        text-decoration: none
        font-size: 12px
        line-height: 16px
        color: #FFFFFF
        &:hover
            opacity: 0.8
    &__dev
        margin-top: 28px
        font-size: 12px
        line-height: 16px
        color: #FFFFFF
        display: block
        text-decoration: none
        &:hover
            opacity: 0.8
.header
    padding: 35px 0
    &__wrap
        display: flex
        align-items: center
        justify-content: space-between
        position: relative
    &__menu
        margin: 0
        padding: 0
        list-style-type: none
        display: flex
        align-items: center
        grid-gap: 24px
        &>li>a
            padding: 10px 0
            font-weight: 400
            font-size: 16px
            line-height: 24px
            text-decoration: none
            color: #000000
            opacity: 0.8
            &:hover
                color: #3C57FF
        &>li > ul
            box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.06)
            border-radius: 32px
            background-color: #fff
            padding: 48px 64px
            position: absolute
            top: calc(100% + 35px)
            display: none
            width: 1024px
            left: 0
            z-index: 5
            flex-wrap: wrap
            justify-content: space-between
            grid-gap: 32px 0
            margin: 0
            list-style-type: none
            &>li
                max-width: 32%
                &>a
                    font-weight: 700
                    font-size: 20px
                    line-height: 26px
                    color: #3C57FF
                    position: relative
                    text-decoration: none
                    margin-bottom: 16px
                    display: inline-block
                    &::after
                        content: ""
                        display: block
                        height: 1px
                        width: 100%
                        background-color: #3C57FF
                        position: absolute
                        bottom: 0
                        left: 0
                &>ul
                    margin: 0
                    padding: 0
                    list-style-type: none
                    &>li>a
                        font-size: 16px
                        line-height: 24px
                        margin-bottom: 4px
                        color: #000000
                        display: block
                        text-decoration: none
                        &:hover
                            color: #3C57FF
            &::before
                content: ""
                display: block
                top: -40px
                width: 150px
                height: 40px
                position: absolute
                left: 120px
        &>li:hover > ul
            display: flex
    &__right
        display: flex
        align-items: center
        grid-gap: 8px
    &__soc
        display: flex
        align-items: center
        grid-gap: 8px
        a
            width: 20px
            img
                width: 100%
    &__phone
        text-decoration: none
        font-weight: 700
        font-size: 16px
        line-height: 22px
        color: #000000
        opacity: 0.8
        &:hover
            color: #3C57FF
    &--home
        .header__wrap
            padding: 0 32px
.main
    padding-top: 40px
    padding-bottom: 72px
    &__wrap
        display: flex
        justify-content: space-between
        align-items: flex-start
        padding-left: 32px
        padding-right: 100px
    &__title
        font-weight: 700
        font-size: 60px
        line-height: 68px
        color: #000000
        margin-bottom: 30px
        margin-top: 0
        max-width: 430px
        span
            display: inline-block
            margin: 0 auto
            margin-top: 5px
            background: linear-gradient(150.07deg, #9368FE -164.28%, #3C57FF 93.91%)
            border-radius: 12px
            color: #fff
            padding: 16px 10px
            padding-top: 0
            line-height: 44px
            margin-left: -10px
            margin-right: -10px
    &__descr
        margin: 0
        font-size: 20px
        line-height: 28px
        color: #000000
        opacity: 0.9
        max-width: 431px
    &__video
        width: 340px
        height: 275px
        border-radius: 24px
        overflow: hidden
        position: relative
        &>img
            width: 100%
            height: 100%
            object-fit: cover
            transition: all 0.3s
        &:hover
            &>img
                transform: scale(1.1)
    &__play
        width: 50px
        height: 50px
        position: absolute
        top: 50%
        left: 50%
        margin-left: -25px
        margin-top: -25px
        background: rgba(#3C57FF, 0.8)
        border-radius: 50%
        display: flex
        justify-content: center
        align-items: center
.mob-menu
    display: none
.breadcrumbs
    padding: 0
    margin: 0
    list-style-type: none
    display: flex
    align-items: center
    flex-wrap: wrap
    padding-top: 36px
    grid-gap: 36px
    font-weight: 400
    font-size: 16px
    line-height: 24px
    color: #0B0B0B
    span
        text-decoration: none
        font-size: 16px
        line-height: 24px
        color: #0B0B0B
    a
        position: relative
        color: #536BFF
        text-decoration: none
        font-size: 16px
        line-height: 24px
        &::after
            width: 20px
            height: 20px
            display: block
            content: ""
            position: absolute
            left: calc(100% + 8px)
            top: 1px
            background: url('../img/pages/bread.svg') center no-repeat
            background-size: contain
        &:hover
            opacity: 0.8
@media(max-width: 1099px)
    .footer__all
        width: calc(100% - 30px)
    .footer__menu ul
        max-width: 140px
    .main
        &__wrap
            padding-left: 0
            padding-right: 0
        &__title
            font-size: 56px
    .header
        &--home
            .header__wrap
                padding-left: 0
                padding-right: 0
        &__menu>li>ul
            width: 740px
            &::before
                left: 50px
@media(max-width: 991px)
    .footer
        padding-bottom: 0
        &__all
            width: 100%
            border-radius: 0
    .main
        &__wrap
            display: block
        &__video
            display: block
            width: 100%
            height: 400px
        &__cont
            padding-bottom: 60px
    .header
        &__menu
            grid-gap: 8px
            &>li>a
                font-size: 14px
@media(max-width: 767px)
    .footer
        &__wrap
            flex-wrap: wrap
            grid-gap: 40px 0
            padding-bottom: 140px
            position: relative
        &__info
            position: absolute
            bottom: 0
            left: 0
        &__logo
            width: 100%
    .header
        padding: 16px 0
        position: relative
        &__right, &__menu
            display: none
        &__wrap
            justify-content: center
    .mob-menu
        display: flex
        position: absolute
        top: 24px
        left: 19px
        text-decoration: none
@media(max-width: 575px)
    .main
        padding-top: 16px
        padding-bottom: 35px
        &__title
            font-size: 32px
            line-height: 36px
            margin-bottom: 24px
            span
                line-height: 28px
                padding-bottom: 10px
                padding-left: 5px
                padding-right: 5px
                margin-left: -5px
        &__cont
            padding-bottom: 32px
        &__descr
            font-size: 16px
            line-height: 24px
        &__video
            height: 156px
            border-radius: 16px
    .header
        &__logo
            width: 64px
            img
                max-width: 100%
    .footer
        padding-top: 0
        &__all
            padding-top: 32px
            padding-bottom: 17px
        &__wrap
            padding-bottom: 103px
            grid-gap: 0
        &__logo
            margin-bottom: 58px
        &__subtitle
            font-size: 16px
            line-height: 22px
            margin-bottom: 8px
        &__menu
            display: block
            width: 100%
            &>li
                display: flex
                align-items: flex-start
                justify-content: space-between
                margin-bottom: 24px
                &>a
                    width: 50%
                    font-size: 16px
                    line-height: 22px
                &>ul
                    width: 50%
                    max-width: 50%
                    &>li>a
                        margin-bottom: 8px
    .breadcrumbs
        padding-top: 16px
