.container
    width: 1024px
    margin: auto
@media (max-width: 1049px)
    .container
        width: 980px
        margin: auto
@media (max-width: 991px)
    .container
        width: 740px
        margin: auto
@media (max-width: 767px)
    .container
        width: 550px
        margin: auto
@media (max-width: 575px)
    .container
        width: 100%
        padding-left: 15px
        padding-right: 15px
        margin: auto
